# Data Structures

1.  What are data structures, and why are they important?
  - Data structures are inbuit mechanisim to store and access collection of data. Different data types can be used for different purposes. For example list can be used for the scenarios where order and duplication of data are allowed where as, set can be used for the data where order doesn't matter and duplication is allowed. We have following data types in python.
      - String: collection of characters used for creating text
      - List: Mutable and ordered collection of elements where duplicates are allowed
      - Tuple: Immutable and ordered collection of elements where duplicates are allowed
      - Set: Unordered collection ofe elements where duplicates are not allowed
      - Dictionary: Collection of key value pairs and allows to store and access the values using keys.

2. Explain the difference between mutable and immutable data types with examples?
  - Mutable objects can be modified for example list is mutable and we can modify the list like adding or removing items or change the postion of itesm.
  - Immutable objects cannot be modified once created, for example tuples. Once tuple is created we cannot add/remove or change the position of items in tuple. Strings are also immutable once a string is created, the sequence of characters stays same and we can not modify it. The methods like "upper" and slicing operator returns the new string but do not modify the original one.

3. What are the main differences between lists and tuples in Python?
  - List are mutable and ordered collection of elements where duplicates are allowed and used for the scenarios where the items in the collection need to be modified for example sorting the items. Where as, tuples are immutable and cannot be modified once created. Tuples are well suited for scenarios like representing orderd pair of points (x,y) in co-ordinate axis.

4. Describe how dictionaries store data.
  - Dictionaries store the data in key value pairs. Keys are used as unique identifiers to access or modify the corresponding values. Any immutable type can be used as key and value can be of any type. Duplication of keys is not valid. From python 3.7 the key value pairs are store in order of insertion.

5. Why might you use a set instead of a list in Python?
  - Unlike list, set does not allow duplicates. We can use them for the collection of items where each item is unique like roll numbers of a student in particular class or primary keys of a data base column. Even though same data is added multiple times to the set, set ensures that the data is present only once.

6. What is a string in Python, and how is it different from a list?
  - String is ordered sequence of characters used to represent text. Both list and string contains oredered elements. But the items in the list are heterogeneous where string items are always characters. List are mutable and allows modifications like adding, removing or changing order of the items. Where as strings are immutable and none of this modifications are allowed.


7. How do tuples ensure data integrity in Python?
  - Tupples are immutable and always contains the same elements in same order. When any piece of code is accessing the items in a tuple there is no chance of these items being modified by other piece of code.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - Hash table is an Abstract data structure used for working with key values pairs and supports operation like look up, insert and remove key-value pairs. Implementation of Hash table in python is dictionary and serves the same purpose.

9. Can lists contain different data types in Python?
  - Yes, lists supports heterogenous data and can contain items of different data types.

10. Explain why strings are immutable in Python?
  - Sring are immutable the hash of the string always same and this helps in memory optimazion as new memory need not be alocated to same string again and again. And being immutable makes the strings eligible to be used as keys in the dictionary which is a very common scenario.

11. What advantages do dictionaries offer over lists for certain tasks?
  - When we have data in the form of key-value pair it's easy to work with dictionaries. Fo example if we have the data like where name is the key and mobile number is value. We can easily get the mobile number using the name as key. Where as, If we use lists for this purpose we need to iterate over entire list and match the name and then get the mobile number.

12. Describe a scenario where using a tuple would be preferable over a list?
  - When are dealing with geographichal locations we can use tuples for storing latitude and longitue of a particular place instead of list. This ensures that latitude and longitude will be always in the same order and there is no possiblity to add additonal values to these tuples.

13. How do sets handle duplicate values in Python?
  - Set stores the data by using the hash of the item being added. The hash values are unique and helps in quick retrieval of items. Sets doesn't allow duplicate values and even if we add existing value to a set it will not accept it as a new value and discards it.

14. How does the “in” keyword work differently for lists and dictionaries?
  - The in keyword in lists checks if the item is present in list or not. Where as the in keyword in dictionary checks if the item is present in the dictionary as a key or not.

15. Can you modify the elements of a tuple? Explain why or why not?
  - Tuples are immutable and elements of tuple cannot be modified once the tuple is created. If we want to modify the elements after creation we need to use lists instead.

16. What is a nested dictionary, and give an example of its use case?
  - Nested dictionary is a dictionary in which any of the key is associated with another dictionary as a value. For example, if we are using dictionary to store list of users. where user is the id and value is another dictionary with keys like name, mobile number etc.

17. Describe the time complexity of accessing elements in a dictionary.
  - The time complexity of accessing the elements in dictionary is O(1)i.e constant time complexity. Dictionary uses hashing for this. Each key will be having unique hash value and it will always represent the same memory location. when we try to retrieve the element the dictionay will create the hash for the key we are looking for and fetches the element directly from the memory location. There are also techniques to avaoid the hash colissions like probibing and chaining.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred over dictionaries when the insertion order is required and there is no need of storing the data as key value pairs. Also the list allows duplicate items where as keys of dictionaries can not be duplicate. One such example is adding barcodes of the products to shopping cart in supermarket.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  Dictionaries are unordered before python 3.7 as they use hashtable to store the key value pairs. This makes the dictinaries faster to retreive the value using the key as each hash value is assigned with particular memory location, while retrieving the hash of the key is caliculated and the value will be retrieved from that paricular memory directly.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  Dictionary uses hashtable to store and retrieve the data this makes dictinaries faster to retreive the value using the key as each hash value is assigned with particular memory location, while retrieving the hash of the key is caliculated and the value will be retrieved from that paricular memory directly. Where as lists store the values one after another incase if we need to access any item lists will iterate over all the items until it finds the item being looked for and then returns that item.

## Write a code to create a string with your name and print it.

In [1]:
name = "Sandeep"
print(name)

Sandeep

## Write a code to find the length of the string "Hello World".

In [2]:
print(len("Hello World"))

11

## Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
print("Python Programming"[:3])

Pyt

## Write a code to convert the string "hello" to uppercase

In [4]:
val = "hello"
val = val.upper()
print(val)

HELLO

## Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
val = "I like apple"
val = val.replace("apple", "orange")
print(val)

I like orange

## Write a code to create a list with numbers 1 to 5 and print *it*

In [7]:
my_list = list(range(1, 6))
print(my_list)

[1, 2, 3, 4, 5]

## Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

## Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

## Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

## Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

##  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

## Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

## Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

## Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

 ## Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

##  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

 ## Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

## Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

 ## Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

 ## Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

## Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
my_dict = {"name": "Sandeep", "age": 34, "city": "Kaikalur"}
print(my_dict)

{'name': 'Sandeep', 'age': 34, 'city': 'Kaikalur'}

## Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

## Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

 ## Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

##  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [27]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

 ## Write a code to create a list, a tuple, and a dictionary, and print them all.

In [28]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (6, 7, 8, 9, 10)
my_dict = {"name": "Alice", "age": 30, "city": "New York"}


print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (6, 7, 8, 9, 10)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

##  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [29]:
import random

random_numbers = []
for _ in range(5):
  random_numbers.append(random.randint(1, 100))
random_numbers.sort()

print(random_numbers)

[4, 5, 31, 37, 43]

## Write a code to create a list with strings and print the element at the third index.

In [30]:
my_list = ["Teja", "Sai", "Sandeep", "Reddy", "Konala"]
print(my_list[3])

Reddy

## Write a code to combine two dictionaries into one and print the result.

In [31]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Write a code to convert a list of strings into a set.

In [32]:
string_list = ["apple", "banana", "orange", "apple", "grape"]
string_set = set(string_list)
print(string_set)

{'orange', 'grape', 'banana', 'apple'}